@model OOPenaltyPoints.Models.Notification

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Notification</legend>

    <div class="display-label">NiName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NiName)
    </div>

    <div class="display-label">NiPoints</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NiPoints)
    </div>

    <div class="display-label">NiDesc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NiDesc)
    </div>

    <div class="display-label">NiDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NiDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
