@model OOPenaltyPoints.Models.ViewModel.DriverOffenceUI

@{
    ViewBag.Title = "Edit";
}

<h2>Edit An Existing Driver Offence</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Fill in the details of the penalty point driver offence and click 'Save' button when done.</legend>
           <br />

        @Html.HiddenFor(model => model.id)

        <!--------Details of driving offence committed ----------->

            <fieldset>
            <legend>Driving Offence Information:</legend>
            <br />
            @Html.LabelFor(model => model.description,"Description:")
            @Html.TextBoxFor(model => model.description, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.description,"Required.")

            @Html.LabelFor(model => model.gardaId, "Garda Identification No:")
            @Html.EditorFor(model => model.gardaId)
            @Html.ValidationMessageFor(model => model.gardaId, "Required.")

            <br /><br />

            @Html.LabelFor(model => model.location, "Location:")
            @Html.EditorFor(model => model.location)
            @Html.ValidationMessageFor(model => model.location, "Required.")

            @Html.LabelFor(model => model.offenceDate, "Date:")
            @Html.TextBoxFor(model => model.offenceDate, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.offenceDate, "Required.")

            <br /><br />

            @Html.LabelFor(model => model.status, "Status:")
            @Html.DropDownListFor(model => model.status, (SelectList)ViewData["doStatus"])
            @Html.ValidationMessageFor(model => model.status, "Required.")
            <br />
            </fieldset>
            
<!--------Details of driver who committed the offence ----------->

            <fieldset>
            <legend>Driver Information</legend>
            <br />
            @Html.LabelFor(model => model.LicenceNo, "Drivers licence number (or PPSN No):")
            @Html.TextBoxFor(model => model.LicenceNo, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.LicenceNo, "Required.")

            @Html.LabelFor(model => model.LicenceStatus, "Status:")
            @Html.DropDownListFor(model => model.LicenceStatus, (SelectList)ViewData["licenceStatus"])
            @Html.ValidationMessageFor(model => model.LicenceStatus, "Required.")

            <br /><br />

            @Html.LabelFor(model => model.FName,"First Name:")
            @Html.EditorFor(model => model.FName)
            @Html.ValidationMessageFor(model => model.FName, "Required.")

            @Html.LabelFor(model => model.SName,"Surname:")
            @Html.EditorFor(model => model.SName)
            @Html.ValidationMessageFor(model => model.SName, "Required.")

            <br /><br />

            @Html.LabelFor(model => model.Address1, "Address:")
            @Html.EditorFor(model => model.Address1)
            @Html.ValidationMessageFor(model => model.Address1, "Required.")

            @Html.LabelFor(model => model.Address2, "Town etc:")
            @Html.EditorFor(model => model.Address2)
            @Html.ValidationMessageFor(model => model.Address2, "Required.")

            @Html.LabelFor(model => model.Address3, "County:")
            @Html.DropDownListFor(model => model.Address3, (SelectList)ViewData["County"])
            @Html.ValidationMessageFor(model => model.Address3, "Required.")
            <br />
         </fieldset>
         
            <!--------Details of vehicle used in the committed offence ----------->
   
         <fieldset>
            <legend>Vehicle Information</legend>
            <br />
            @Html.LabelFor(model => model.Registration, "Registration No:")
            @Html.TextBoxFor(model => model.Registration, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Registration, "Required.") 

            @Html.LabelFor(model => model.Make, "Make:")
            @Html.EditorFor(model => model.Make)
            @Html.ValidationMessageFor(model => model.Make, "Required.")

            <br /><br />
                 
            @Html.LabelFor(model => model.Type, "Type:")
            @Html.EditorFor(model => model.Type)
            @Html.ValidationMessageFor(model => model.Type, "Required.")

            @Html.LabelFor(model => model.Capacity, "Capacity:")
            @Html.EditorFor(model => model.Capacity)
            @Html.ValidationMessageFor(model => model.Capacity, "Required.")
            <br />
        </fieldset>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
