@model IEnumerable<OOPenaltyPoints.Models.DriverOffence>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            doOffenceDate
        </th>
        <th>
            doRegistration
        </th>
        <th>
            doLicenceNo
        </th>
        <th>
            doStatus
        </th>
        <th>
            doPointsApplied
        </th>
        <th>
            doPointsDate
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.doOffenceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doRegistration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doLicenceNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doPointsApplied)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doPointsDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
