@model OOPenaltyPoints.Models.Notification

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Notification</legend>

    <div class="display-label">NiName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NiName)
    </div>

    <div class="display-label">NiPoints</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NiPoints)
    </div>

    <div class="display-label">NiDesc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NiDesc)
    </div>

    <div class="display-label">NiDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NiDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
