@model IEnumerable<OOPenaltyPoints.Models.DriverDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            DdName
        </th>
        <th>
            DdAddress
        </th>
        <th>
            DdAccumulatedPoints
        </th>
        <th>
            DdLicenceStatus
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DdName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DdAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DdAccumulatedPoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DdLicenceStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
