@model OOPenaltyPoints.Models.ListedOffence

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>ListedOffence</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.LoName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LoName)
            @Html.ValidationMessageFor(model => model.LoName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LoDesc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LoDesc)
            @Html.ValidationMessageFor(model => model.LoDesc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lo28Days)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Lo28Days)
            @Html.ValidationMessageFor(model => model.Lo28Days)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lo56days)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Lo56days)
            @Html.ValidationMessageFor(model => model.Lo56days)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LoCourtPoints)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LoCourtPoints)
            @Html.ValidationMessageFor(model => model.LoCourtPoints)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LoFine28)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LoFine28)
            @Html.ValidationMessageFor(model => model.LoFine28)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LoFine56)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.LoFine56)
            @Html.ValidationMessageFor(model => model.LoFine56)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
