@model OOPenaltyPoints.Models.ListedOffence

@{
    ViewBag.Title = "Create";
}

<h2>Create  A New Penalty Point Offence</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Fill in the details of the penalty point offence and click 'Create' button when done.</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.LoDesc, "Type a description for the penalty point offence")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LoDesc)
            @Html.ValidationMessageFor(model => model.LoDesc, "A description for the penalty point is required.")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lo28Days, "Type the number of penalty points on payment")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Lo28Days)
            @Html.ValidationMessageFor(model => model.Lo28Days, "The number of penalty points on payment is required.")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lo56days, "Type the number of penalty points on conviction")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Lo56days)
            @Html.ValidationMessageFor(model => model.Lo56days, "The number of penalty points on conviction is required.")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LoFine28, "Type the amount the offender will pay in 28 days(€)")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LoFine28)
            @Html.ValidationMessageFor(model => model.LoFine28, "The amount to pay in 28 days of conviction is required.")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LoFine56, "Type the amount the offender will pay in next 28 days(€)")
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.LoFine56)
            @Html.ValidationMessageFor(model => model.LoFine56, "The amount to pay in the next 28 days is required.")
        </div>

       <div class="editor-label">
            @Html.LabelFor(model => model.LoMandatoryCourtAppearance, "Mandatory Court Appearance is required?")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LoMandatoryCourtAppearance)
            @Html.ValidationMessageFor(model => model.LoMandatoryCourtAppearance, "")
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
