@model OOPenaltyPoints.Models.ListedOffence

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ListedOffence</legend>

    <div class="display-label">LoName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoName)
    </div>

    <div class="display-label">LoDesc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoDesc)
    </div>

    <div class="display-label">Lo28Days</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lo28Days)
    </div>

    <div class="display-label">Lo56days</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lo56days)
    </div>

    <div class="display-label">LoCourtPoints</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoCourtPoints)
    </div>

    <div class="display-label">LoFine28</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoFine28)
    </div>

    <div class="display-label">LoFine56</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoFine56)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
