@model OOPenaltyPoints.Models.DriverOffence

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DriverOffence</legend>

    <div class="display-label">doOffenceDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.doOffenceDate)
    </div>

    <div class="display-label">doStatus</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.doStatus)
    </div>

    <div class="display-label">doPointsApplied</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.doPointsApplied)
    </div>

    <div class="display-label">doPointsDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.doPointsDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
