@model OOPenaltyPoints.Models.VehicleDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>VehicleDetail</legend>

    <div class="display-label">VdType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VdType)
    </div>

    <div class="display-label">VdMake</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VdMake)
    </div>

    <div class="display-label">VdCubicCapacity</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VdCubicCapacity)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
